<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
  <title>Sports-IT 관리자 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
  <div>
    <h1>대회 종목 추가 요청</h1>
    <!-- 여기에 회원 정보 조회 페이지의 내용을 작성합니다 -->
    <table class="table">
      <thead>
      <tr>
        <th>종목명(한글)</th>
        <th>UID</th>
        <th>회원이름</th>
        <th>종목명(데이터)</th>
        <th>수락</th>
        <th>반려</th>
      </tr>
      </thead>
<!--      <tr th:each="member : ${members}">-->
<!--        <td th:text="${member.uid}"></td>-->
<!--        <td th:text="${member.name}"></td>-->
<!--        <td th:text="${member.email}"></td>-->
<!--        <td th:text="${member.phone}"></td>-->
<!--        <td th:text="${member.createdDate}"></td>-->
<!--        <td th:text="${member.activated}"></td>-->

<!--      </tr>-->
      <tr>
        <td th:text="배드민턴"></td>
        <td th:text="123"></td>
        <td th:text="공명규"></td>
        <td>
          <input placeholder="영어 대문자로 입력해주세요"/>
        </td>
        <td>
          <button type="button" class="btn btn-success">수락</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger">반려</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</th:block>
</body>
</html>
